SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM=Naija Pantry <orders@YOUR_DOMAIN>
# EU Mailgun accounts only: https://api.eu.mailgun.net
MAILGUN_BASE=https://api.mailgun.net
